@model Sat.CreditosFiscales.Presentacion.Portal.ViewModels.CambiaPasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tablaEvento {
        text-align: left;
    }

        .tablaEvento tr {
            height: 40px !important;
            border: solid 1px #D8D8D8;
        }

        .tablaEvento input, select {
            font-size: 8pt;
            font-family: Arial;
        }
</style>

@section encabezado
{
    <h1>Acceso</h1>
}


@using (Html.BeginForm("CambiarPassword", "LogEventos", FormMethod.Post))
{
    
    <table class="tablaEvento" align="center">
        <tr>
            <td>Usuario:</td>
            <td>@Html.TextBoxFor(m => m.Usuario, new { tabindex = 1, maxlength = 15 })
                @Html.ValidationMessageFor(m => m.Usuario, "(*) Requerido")
            </td>
        </tr>
        <tr>
            <td>Contraseña actual:</td>
            <td>@Html.PasswordFor(m => m.Contraseña, new { tabindex = 2, maxlength = 15 })
                @Html.ValidationMessageFor(m => m.Contraseña, "(*) Requerido")
            </td>
        </tr>
        <tr>
            <td>Nueva contraseña:</td>
            <td>@Html.PasswordFor(m => m.NuevaContraseña, new { tabindex = 3, maxlength = 15 })
                @Html.ValidationMessageFor(m => m.NuevaContraseña, "(*) Requerido")
            </td>
        </tr>
        <tr>
            <td>Confirmar contraseña:</td>
            <td>@Html.PasswordFor(m => m.ConfirmarContraseña, new { tabindex = 4, maxlength = 15 })
                @Html.ValidationMessageFor(m => m.ConfirmarContraseña, "(*) Requerido")
            </td>
        </tr>
        <tr>
            <td  style="text-align: center">
                <input type="button" value="Cancelar" onclick="location.href = './'" />
            </td>
            <td  style="text-align: center">
                <input type="submit" id="btnGuardar" value="Guardar" />
            </td>
        </tr>
    </table>
    
}



